<div class="container">

<div class="grid">
    <div class="row">
            <div class="col">
                <div class="info">
                <div class="info_title">
                    <p>Encuentra fácilmente libros en español en una de las mayores bases de datos de internet</p>
                </div>
                <div class="info_subtitle">
                    <p>Explora una colección de los libros digitales más buscados en Internet Archive <span class="info_subtitle-bold"> ¡en cuestión de segundos! </span> </p>
                </div>
                <div class="info_search d-flex justify-content-center mt-5">
 
                    <books-search-bar (messageEvent)="receiveMessage($event)"></books-search-bar>

                </div>
            </div> 
            <footer class="footer"></footer>
            </div> <!--fin de la columna-->

            <div class="col">
                <div class="home__img">
                </div>
            </div> <!--fin de la columna-->

        </div>  <!--fin de la fila-->

    <section class="tech"></section>
    <div class="row">
    </div>
</div> <!--fin del grid-->
</div> <!-- fin del container-->